@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* basic css */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    ;
    box-sizing: border-box;
}

img {
    width: 100%;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}


/* header section css */

.header-section {
    background-color: #562EFF;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.icon-image {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon img {
    width: 40px;
}

.brand-name {
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

#profile {
    width: 50px;
    font-weight: 400;
}