@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* basic css */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    box-sizing: border-box;

}

img {
    width: 100%;
}

h2,
h3,
h4,
p {
    font-weight: 500;
}


h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

hr {
    border: 1px solid #D1D1D1;
    width: 807px;
    margin: 30px 0;
}

.title {
    color: #562EFF;
    margin-bottom: 30px;
}

.container {
    width: 870px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}


/* header section css */

.header-section {
    background-color: #562EFF;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.icon-image {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon img {
    width: 40px;
}

.brand-name {
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

#profile {
    width: 50px;
    font-weight: 400;
}

/* top-player section */
.hero-section {
    margin: 35px 0;
}

.player-section,
.course-details {
    padding: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}

.player img {
    width: 55px;
}

.player {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* top blog */
.top-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}

.player-blog {
    display: flex;
    align-items: center;
    gap: 15px;
}

.blog-img img {
    width: 177px;
}

.details P {
    font-size: 14px;
    color: #9F9F9F;
    margin-top: 5px;
}

.details span {
    color: #562EFF;

}

/* .course-section */
.course-section{
    margin-bottom: 35px;
}
.all-course {
    display: flex;
    gap: 20px;
}

.course {
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 252px;
    border-radius: 5px;
}

.course img {
    width: 224px;
}

.course-icon {
    display: flex;
    gap: 10PX;
    justify-content: space-between;

}

.fa-star {
    font-size: 12px;
    color: #FFC014;
}

#fa {
    color: #AEAEAE;
}

.num {
    color: #AEAEAE;
    font-size: 14px;
}

.time {
    background-color: #FFE4E8;
    border-radius: 14px;
    width: 94px;
    color: #FF4A60;
    padding: 4px;
    text-align: center;
}
/* footer style */
.footer{
    background-color: #222;
    padding: 30px;
    color: white;
    text-align: center;
}