@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* basic css */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 500;
    background-color: #F3F1FF;
    box-sizing: border-box;
}

img {
    width: 100%;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}
h4{
    font-size: 18px;
    font-weight: 500;
}
p {
    font-size: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin: 0 auto;
}
.title{
    color: #562EFF;
    margin-bottom: 30px;
}
.container{ 
    width: 870px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}


/* header section css */

.header-section {
    background-color: #562EFF;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.icon-image {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon img {
    width: 40px;
}

.brand-name {
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

#profile {
    width: 50px;
    font-weight: 400;
}

/* top-player section */
.player-section{
    margin: 35px 0;
}
.top-player{
    padding: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;

}

.player img{
    width:55px;
}
.player{
    display: flex;
    align-items: center;
    gap: 15px;
}